p{
    color: rgb(48, 9, 9);
    background-color: rgb(226, 132, 65);
    width:80%;
}
 body{
    background-color: chartreuse;
 }

 @media screen and (max-width: 480px){
    body{
        background-color:red;
    }
    p{
        color: aliceblue;
        background-color: brown;
    }
 }
 @media screen and (min-width:481px) and (max-width:700px) {
    body{
        background-color: black;
    }
    p{
        color: chartreuse;
        background-color: cornflowerblue;
    }
    
 }