body{
    margin: 0;
}
nav{
    background-color: green;
    height: 75px;
}
ul{
    float:left;
    display: flex;
}
li{
    margin-right: 40px;
    list-style-type: none;
}
li a:hover{
    /* background-color: rgb(22, 32, 77); */
    padding: 5px;
}
a{
    color:rgb(255, 255, 255);
    /* margin-right: 50px; */
    text-decoration: none;
    font-size: 20px;
}
.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;

    background-color:rgb(25, 197, 25);
 
}
.dropdown:hover .dropdown-content {
    display: block;
}